@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
button{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 0 10px; */
    position: relative;
}

.header__inner{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 55px;
    width: 100%;
}

nav a{
    margin-right: 15px;
    color: white;
}

nav a:last-child{
    margin-right: 0;
}

.header__info{
    display: flex;
    align-items: center;
}

.header__info span{
    margin-right: 41px;
    position: relative;
}

.header__info span::before{
    content: url(images/icons/ENG_lang_ico.svg);
    position: absolute;
    top: -9px;
    right: 30px;
}
.header__info span::after{
    content: url(images/icons/caret_down.svg);
    position: absolute;
    left: 25px;
}
.header__info button{
    border: 1px solid white;
    padding: 11px 29px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}

.info{
    /* min-height: 100vh; */
    background-image: url(images/icons/info_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 257px 0 187px 0px;
}

.info__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__block h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 39px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.info__block p{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 600; */
    line-height: 150%; /* 36px */
    width: 34%;
    text-align: center;
    margin-bottom: 39px;

}
.sign-up    {
    border-radius: 6px;
    background: #FFF;
    color: #ED4C5C;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 17px 52px;
}

.more_link{
    font-size: 14px;
    font-weight: 400;
    color: #ED4C5C;
    line-height: 140%; /* 19.6px */
    text-align: justify;
}

.video_section{
    color: black;
}

.video_section{
    display: flex;
    align-items: center;
    padding: 95px 0;
}
.video_section__info h2{
    font-size: 36px;
    font-weight: 600;
    width: 70%;
    margin-bottom: 45px;
}
.video_section__info p{
    margin-bottom: 19px;
    width: 70%;
    text-align: justify;
}
.video_section_media{
    position: relative;
}

.video_section_media::before{
    content: url(images/icons/Play-Button.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features{
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 229px;
}
.features h2{
    padding:63px 0px 52px 0px;
    color: black;
    font-size: 36px;
    font-weight: 600;
}

.features__images{
    display: flex;
    gap: 30px;
    max-width: 100%;
}

.feature-block{
    color: #101010;
    position: relative;
}

.feature-block h3{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.feature-block p{
    margin: 20px 0 26px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.feature-block__info{
    text-align: center;
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 33px 32px 25px 32px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}

.card_link{
    font-size: 12px;
}

.technology{
    padding: 63px 0 115px 0;
}

.technology h2{
    text-align: center;
    color: black;
    padding-bottom: 52px;
}
.technology_box{
    display: flex;
    color: black;
    text-align: center;
    gap: 30px;
}

.technology_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 255px;
    padding: 0 30px 4px 34px;

}

.technology_text h3{
    font-size: 18px;
    font-weight: 700;
    padding: 139px 0 10px 0;
    position: relative;
    text-align: center;
}

.technology_text p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.technology_card img{
position: absolute;
}
.section_slider{background: #ED4C5C;}

.section_slider_inner{
    min-height: 300px;
    padding: 94px 51px 94px 0px;
    display: flex;
    justify-content: space-between;
}
.slider_text_block{
    max-width: 445px;
    display: flex;
    flex-direction: column;
}
.slider_text_block h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 24px;
}
.slider_text_block p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-align: justify;
    margin-bottom: 40px;
}
.icons{
    display: flex;
    gap: 24px;
    align-items: center;
}

.hover_zoom:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.sliderimage{

}
.contact_inner{
    padding: 117px 0 78px 0;
    display: flex;
    gap: 120px;
}

.contact_text{
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 434px;
}
.contact_text h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 53px;
}
.contact_text p{
    text-align: justify;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.small_input{
    width: 255px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--Gray-1, #333);
    padding: 21px 0px 20px 31px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small_forms{
    display: flex;
    justify-content: space-between;
}

.contact_forms{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_forms input:focus::placeholder{
    opacity: 0.2;
}

.large_input{
    width: 540px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--Gray-1, #333);
    padding: 21px 0px 20px 31px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sumbit_button{
    border-radius: 6px;
    border: 1.5px solid #ED4C5C;
    background: #ED4C5C;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: white;
}

.select_input{
    appearance: none;
    background: url(images/icons/select_caret.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

#selected_service:invalid{
    color: rgba(19, 39, 67, 0.671);
}
#selected_service:invalid *:not(:first-child){
    color: black;
}

footer{
    background: #FAFAFA;
}

.footer_inner{
    padding: 85px 31px 86px 0;
    display: flex;
    color: #101010;
    gap: 33px;
    
}

.footer_item{
    min-width: 254px;
}

.footer_h3{
    margin-bottom: 33px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_services_h3{
    margin-bottom: 28px;
}

.footer_p{
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.footer_services ul, li a{
    list-style-type: none;
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    text-transform: capitalize;
}

.mailto{
    color: #101010;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.tel{
    margin-top: 11px;
    margin-bottom: 20px;
}